<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Minesweeper Royale</title>

    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/game.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="../static/jquery/jquery.js"></script>
    <script src="../static/bootstrap/bootstrap.min.js"></script>
    <script src="../static/main.js"></script>
</head>

<body>
    <div id="overlay">
        <div id="text"></div>
    </div>
    <main>
        <div id="gametitle">
            <div class="title" id="maintitle">Minesweeper</div>
            <div class="title" id="subtitle">Battle Royale</div>
        </div>

        <div class="flux">
            <div class="panel left">
            </div>

            <div class="panel middle" id="menuPanel">
                <!-- <div class="panel middle" > -->
                    <input id="yourname" align="middle" type="text" placeholder="Enter your name here" style="display: block">
                    <div class="buttons">
                        <button class="btn btn-primary" id="JoinLobbyBtn">Join Lobby</button>
                        <!-- <button class="btn btn-primary" id="LeaveLobbyBtn" style="display:none">Leave Lobby</button> -->
                        <button class="btn btn-primary" id="InstructionBtn" onclick="">How to Play</button>
                    </div>
                    <div id="copyright">&copy; 2019 ALL RIGHTS RESERVED</div>
                <!-- </div> -->
                
                
                <!-- REMOVE ONCLICK -->
                <button class="btn btn-primary" id="NewGameBtn" style="display:none" onclick="resetHTML()"  >New Game</button> 
            </div>


            <div class="panel right">
            </div>

        </div>
    </main>

</body>

</html>
