<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Minesweeper Royale</title>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="assets/game.css">
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
    <script src="main.js"></script>
</head>

<body onload="startGame()">
    <div id="overlay">
        <div id="text"></div>
    </div>
    <main>
        <div id="gametitle">
            <div class="title" id="maintitle"><span style="color:lightgreen">Mine</span>sweeper</div>
            <div class="title" id="subtitle">Battle Royale</div>
        </div>

        <div class="flux">
            <div class="panel left">

            </div>

            <div class="panel middle">
                <table id="grid"></table>
            </div>

            <div class="panel right">
                
                <div id="player-stats">
                    <h1 id="player-name">Player 0</h1>
                    <hr>
                    <div>
                        <p style="padding-right: 5vw;">Mines left:</p>
                        <p>000</p>
                    </div>
                    <div>
                        <p style="padding-right: 3vw;">Time Elapse:</p>
                        <p>0:00</p>
                    </div>
                </div>
                <div id="player-buttons">
                    <button class="btn btn-primary" id="LeaveGameBtn">Leave game</button>
                </div>
            </div>

        </div>
    </main>

</body>

</html>
